.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

* {
  font-family: fantasy;
}

body {
  background-color: black;
}

/* wine containers styling */

#allWinesCard {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wineCard {
  z-index: 100;
  display: flex;
  box-sizing: border-box;
  border: 2px white solid;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 16pt;
  width: 20%;
  height: 600px;
  padding: 80px;
  margin: 15px;
}

#homeImg {
  z-index: -1;
  height: 1500px;
  width: 100px;
  margin-top: 30px;
}

.detailsCard {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  color: white;
  line-height: 400%;
  text-decoration: none;
  margin-bottom: 100px;
}

.wineDesc {
  height: 300px;
  width: 350px;
  line-height: 250%;
  font-size: 20px;
  margin-top: 200px;
}

#imgDetails {
  height: 500px;
  width: 400px;
  margin: 50px;
}

header {
  border-bottom: 5px rgb(55, 130, 94) solid;
  border-top: 5px rgb(55, 130, 94) solid;
  width: 100%;
  height: 280px;
  background-image: url(src/client/photos/vineyard_drawing.jpeg);
  line-height: 0px;
}
.GLW {
  color: black;
  font-size: 60pt;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 300px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 25px;
}

.nav-item {
  color: rgb(55, 130, 94);
  font-size: 30px;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 80px;
}

.button {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  padding-top: 6px;
  height: 40px;
  margin: 25px;
  border-radius: 10%;
}

.wineButton {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  margin: 15px;
  width: 100px;
  padding: 5px;
}

.cartButton {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  margin-right: 140px;
  margin-left: 70px;
}
.button:hover {
  background-color: rgb(55, 130, 94);
  color: black;
}

.img {
  height: 250px;
  width: 350px;
  margin: 10px;
}
/* form styling */

.Sign-In {
  color: white;
  text-align: center;
  padding: 25px;
}
.styleForm {
  color: rgb(55, 130, 94);;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px;
}

a {
  display: flex;
  color: rgb(55, 130, 94);
  justify-content: center;
}

a:hover {
  color: white;
}