.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

body {
  background-color: black;
}

/* wine containers styling */

#allWinesCard {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wineCard {
  display: flex;
  box-sizing: border-box;
  border: 1px rgb(152, 151, 151) solid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(152, 151, 151);
  font-size: 16pt;
  width: 20%;
  height: 430px;
  margin: 15px;
  line-height: 0;
}

#homeImg {
  z-index: -1;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100px;
  margin: 30px;
}

.detailsCard {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  color: rgb(152, 151, 151);
  line-height: 400%;
  text-decoration: none;
  margin-bottom: 100px;
}

.wineDesc {
  height: 300px;
  width: 350px;
  line-height: 250%;
  font-size: 20px;
  margin-top: 200px;
}

#imgDetails {
  height: 500px;
  width: 400px;
  margin: 50px;
}

header {
  border-bottom: 5px rgb(55, 130, 94) solid;
  border-top: 5px rgb(55, 130, 94) solid;
  width: 100%;
  height: 280px;
  background-image: url(src/client/photos/vineyard_drawing.jpeg);
  line-height: 0px;
}
.GLW {
  color: black;
  font-size: 60pt;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 300px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  padding: 25px;
}

.nav-item {
  color: rgb(55, 130, 94);
  font-size: 30px;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 80px;
}

.button {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 40px;
  border-radius: 10%;
}

#homeCartButton {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  padding-top: 6px;
  height: 40px;
  border-radius: 10%;
  margin-top: 10px;
}
.wineButton {
  background-color:black;
  color: rgb(55, 130, 94);
  font-size: medium;
  text-align: center;
  margin: 15px;
  width: 100px;
  padding: 5px;
}

.button:hover {
  background-color: rgb(55, 130, 94);
  color: black;
}

.img {
  height: 250px;
  width: 350px;
  margin: 10px;
}

/* form styling */

.Sign-In {
  color: rgb(152, 151, 151);
  text-align: center;
  padding: 25px;
}
.styleForm {
  color: rgb(55, 130, 94);;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 25px;
}

h3 {
  font-style: italic;
}

a {
  display: flex;
  color: rgb(55, 130, 94);
  justify-content: center;
}

a:hover {
  color: rgb(152, 151, 151);
}

/* cart styling */

.cart {
  text-align: center;
  color: rgb(152, 151, 151);
  margin-top: 100px;
}

.cartTitle {
  font-size: 40pt;
  border: 1px solid white;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 50px;
  padding: 20px;
  color: rgb(55, 130, 94); 
}

.mustBeAdmin {
  color: white;
}

